<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }

        input {
            font-size: 15px;
            margin-left: 35px;
            font-family: cursive, sans-serif;
        }

        .box-shadow {
            font-family: cursive, sans-serif;
            background-color: #144a63;
            color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 20px 23px #6195ad;
        }

        div {
            border: 1px white;
            width: 400px;
            margin: auto;
        }

        button {
            background-color: #042838;
            font-family: cursive, sans-serif;
            border: none;
            left: 45%;
            position: absolute;
            color: white;
            border-radius: 5px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>

<body>
<h1 style="text-align:center;">Edit Your Profile</h1><br/><br/>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="box-shadow">
        {% csrf_token %}
        <div><br/>
            <div>
                <div>
                    <p>Email Address:</p>
                    <div>
                        <input type="text" name="email" value="{{ request.user.email }}">
                    </div>
                </div>
                <div>
                    <p>First Name:</p>
                    <div>
                        <input type="text" name="first_name" value="{{ request.user.first_name }}">
                    </div>
                </div>
                <div>
                    <p>Last Name:</p>
                    <div>
                        <input type="text" name="last_name" value="{{ request.user.last_name }}">
                    </div>
                </div>
                <br/>
                <div>
                    <a onclick="return confirm('Changes will be lost') " href="{% url 'profile' %}"
                       style="color:white;float:right;">
                        Cancel</a>
                    <a style="color: white;float:left" href="{% url 'password_change' %}">Change Password</a>
                    <br/>
                </div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div style="color: #ff919e">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div style="color: #ff919e">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}


            </div>
        </div>
    </div>
    <br/><br/>
    <button onclick="return confirm('Are you sure?') " style="margin-left: 5px; margin-top:0;"
            type="submit">
        Update
    </button>
</form>
</body>
</html>