<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }

        .profile_field {
            border: 5px white;
            margin-left: 15px;
            background: #9FB9C6;
            outline: none;
            width: 280px;
            border-radius: 3px;
            padding: 5px 5px;
            font-size: 15px;
            font-weight: 80;
        {#position: absolute;#}{#left: 470px;#}
        }

        input {
            font-size: 15px;
            font-family: cursive, sans-serif;
            height: 30px;
        }

        textarea {
            font-size: 15px;
            font-family: cursive, sans-serif;
        }

        .box-shadow {
            font-family: cursive, sans-serif;
            background-color: #144a63;
            color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 20px 23px #6195ad;
        }

        div {
            border: 1px white;
            width: 450px;
            margin: auto;
        }

        button {
            background-color: #042838;
            font-family: cursive, sans-serif;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 6px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
        }

        .icon-bar {
            position: fixed;
            right: 0;
            top: 0;
            width: 65px;
            height: 100%;
            background-color: #636363;
        }

        .icon-bar a {
            display: block;
            text-align: center;
            padding: 13px 5px;


            transition: all 0.3s ease;
            color: rgba(255, 255, 255, 0.84);
            font-size: 15px;
        }

        .icon-bar a:hover {
            background-color: #000;
        }
    </style>
    <meta charset="UTF-8">
    <title>ToDo</title>
</head>
<body>
<div class="icon-bar">

    <a href="{% url 'profile' %}">Profile</a>
    <a onclick="return confirm('Are you sure you want to logout?')" href="{% url 'logout' %}">
        Logout</a>
</div>
<h1 style="text-align:center">
    TO DO!
</h1><br/><br/>
<div class="box-shadow">
    <form method="POST" action="">
        {% csrf_token %}

        <input style="margin-left:15px;margin-top:15px;" type="text" name="title" placeholder="Title" required> &nbsp;
        &nbsp; &nbsp;
        <button type="submit" name="create task">Create</button>
        <br/><br/>
        <textarea style="margin-left:15px;" name="text" placeholder="Text..." rows="4" cols="38" required></textarea>

    </form>
    <br/>

    {% for task in tasks %}
        {% if task.completed == False %}
            <p style="font-size: 10px; font-family:Arial; padding-bottom:0">{{ task.created }}</p>
            <div class="profile_field" style="float: left">
                <span>{{ task.title }}</span>
            </div>
            <a style="color: white;float:right" onclick="return confirm('Are you sure?')"
               href="{% url 'delete_task' task.id %}"> Delete </a>
            <a style="color: white;float:right" href="{% url 'update_task' task.id %}">Update &nbsp;</a>
            <br/><br/>
        {% endif %}
    {% endfor %}
    <hr/>
    {% for task in tasks %}
        {% if task.completed == True %}
            <p style="font-size: 10px; font-family:Arial; padding-bottom:0">{{ task.created }}</p>
            <div class="profile_field" style="float: left;background:#78848a">
                <strike>{{ task.title }}</strike>
            </div>
            <a style="color: white;float:right" onclick="return confirm('Are you sure?')"
               href="{% url 'delete_task' task.id %}"> Delete </a>
            <a style="color: white;float:right" href="{% url 'update_task' task.id %}">Update &nbsp;</a>
            <br/><br/>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>