<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<br><br>
<h1 style="text-align:center;color:#144a63">Your password has been set.</h1>
<a href="{% url 'login' %}"><h3 style="text-align:center;color:#144a63">Login</h3></a>
</body>
</html>
