<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }

        input {
            font-size: 15px;
            font-family: cursive, sans-serif;
        }

        .box-shadow {
            font-family: cursive, sans-serif;
            background-color: #144a63;
            color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 20px 23px #6195ad;
        }

        div {
            border: 1px white;
            width: 350px;
            margin: auto;
        }

        button {
            background-color: #042838;
            font-family: cursive, sans-serif;
            border: none;
            left: 43.5%;
            position: absolute;
            color: white;
            border-radius: 5px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<style>
    input {
        font-size: 1rem;
    }
</style>

<body>
<h1 style="text-align:center;">Choose a new password</h1><br/><br/>
<div>


    <form method="POST">
        <div class="box-shadow">
            {% csrf_token %}
            <br/>
            <div>
                <input type="password" name="old_password" placeholder="Old password"
                       required>
            </div>
            <br/>
            <div>
                <input type="password" name="new_password1" id="inputNewPassword1"
                       placeholder="New password"
                       required>
            </div>
            <br/>
            <div>
                <input type="password" name="new_password2" id="inputNewPassword2"
                       placeholder="Confirm Password" required>
            </div>
            <p><a style="color: white" href="{% url 'edit_profile' %}">Changed your mind?</a></p>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div style="color: #ff919e">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div style="color: #ff919e">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}


        </div>
        <br/><br/>
        <button type="submit">Change Password</button>
    </form>

</div>

</body>
</html>