<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Changed</title>
</head>
<body>
<br><br>
<h1 style="text-align:center;color:#144a63">Password changed successfully.</h1>
<a href="{% url 'edit_profile' %}"><h3 style="text-align:center;color:#144a63">Back</h3></a>
</body>
</html>

