<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }

        .profile_field {
            border: 5px white;
            background: #9FB9C6;
            outline: none;
            width: 450px;
            border-radius: 3px;
            padding: 5px 5px;
            font-size: 17px;
            font-weight: 100;
            margin: auto;
        }

        input {
            font-size: 15px;
            font-family: cursive, sans-serif;
        }

        .box-shadow {
            font-family: cursive, sans-serif;
            background-color: #144a63;
            color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 20px 23px #6195ad;
        }

        div {
            border: 1px white;
            width: 500px;
            margin: auto;
        }

        button {
            background-color: #042838;
            font-family: cursive, sans-serif;
            border: none;
            left: 43.5%;
            position: absolute;
            color: white;
            border-radius: 5px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .icon-bar {
            position: fixed;
            right: 0;
            top: 0;
            width: 65px;
            height: 100%;
            background-color: #636363;
        }

        .icon-bar a {
            display: block;
            text-align: center;
            padding: 13px 5px;


            transition: all 0.3s ease;
            color: rgba(255, 255, 255, 0.84);
            font-size: 15px;
        }

        .icon-bar a:hover {
            background-color: #000;
        }
    </style>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
<div>
    <h1 style="text-align:center;">Profile</h1>
    <div class="icon-bar">
        <a href="{% url 'list' %}">
            Tasks
        </a>
        <a href="{% url 'edit_profile' %}">
            Edit Profile
        </a>
        <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?')">
            Logout</a>
        <a href="{% url 'delete_user' %}">Delete Account</a>
    </div>
    <div class="box-shadow">
        <div>
            <p>Username:</p>
            <div class="profile_field">{{ request.user.username }}</div>
        </div>
        <div>
            <p>Email Address:</p>
            <div class="profile_field">{{ request.user.email }}</div>
        </div>
        <div>
            <p>First Name:</p>
            <div class="profile_field">{{ request.user.first_name }}</div>
        </div>
        <div>
            <p>Last Name:</p>
            <div class="profile_field">{{ request.user.last_name }}</div>
        </div>
        <div>
            <p>Date Joined:</p>
            <div class="profile_field">{{ request.user.date_joined }}</div>
        </div>
        <br/>
    </div>
</div>
</body>
</html>

