<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }

        input {
            font-size: 15px;
            font-family: cursive, sans-serif;
        }

        .box-shadow {
            font-family: cursive, sans-serif;
            background-color: #144a63;
            color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 20px 23px #6195ad;
        }

        div {
            border: 1px white;
            width: 500px;
            margin: auto;
        }

        button {
            background-color: #042838;
            font-family: cursive, sans-serif;
            border: none;
            left: 43.5%;
            position: absolute;
            color: white;
            border-radius: 5px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<div>
    <div>
        <h1 style="text-align:center">Sign Up for Free</h1>

        <form action="" method="POST">
            <div class="box-shadow">
                {% csrf_token %}
                <p><a style="color: white" href="{% url 'login' %}">Already have an account?</a></p>
                <br/>
                <div>
                    <input type="text" name="first_name" id="inputFirstName" placeholder="First Name" required>
                    <input type="text" name="last_name" id="inputLastName" placeholder="Last Name">
                </div>
                <br/>
                <div>
                    <div>
                        <input type="text" name="username" id="inputUsername" placeholder="Username" required>
                        <input type="email" name="email" id="inputEmail" placeholder="Email Address" required>
                    </div>
                </div>
                <br/>
                <div>
                    <input type="password" name="password1" id="inputPassword1" placeholder="Password" required>
                    <input type="password" name="password2" id="inputPassword2" placeholder="Confirm Password" required>
                </div>
                <br/>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div style="color: #ff919e">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div style="color: #e3b1b7">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <br/>
            </div>
            <br/><br/>
            <button type="submit">Get Started</button>
        </form>
    </div>
</div>
</body>
</html>