{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px white, 0 3px #777;
        }

        .box-shadow {
            font-family: cursive, sans-serif;
            background-color: #144a63;
            color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 2px 2px 20px 23px #6195ad;
        }

        div {
            border: 1px white;
            width: 400px;
            margin: auto;
        }

        button {
            background-color: #042838;
            font-family: cursive, sans-serif;
            border: none;
            left: 45%;
            position: absolute;
            color: white;
            border-radius: 5px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Update Task</title>
</head>

<body>
<h1 style="text-align:center;">
    Update Task
</h1><br/><br/><br/>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box-shadow">
        {{ form.title|as_crispy_field }}
        <br/>
        {{ form.text|as_crispy_field }}
        <br/>
        {{ form.completed|as_crispy_field }}

    </div>
    <br/><br/>
    <button type="submit">Update</button>
</form>
</body>
</html>